// Variables
$secondary_color: #ffe7d2;          // colore sfondo secondario
$text_color: #58402c;               // colore testo
$text_font: 'Open Sans', sans-serif;  // font testo
$button_color: #2e4790;             // colore per button
$padding_section: 40px 0;             // padding per le section